.nav {
  display: block;
  height: 70px;
  background-image: url("./filmoteka.jpg");
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  font-weight: 700;
  color: black;
  font-size: 20px;
  border: 1 px solid rgb(0, 89, 255);
}

.activeLink {
  composes: link;
  color: #2a84a5;
}
